@model DataPaginador<Productos> 
<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Bordered Table</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th style="width: 10px">Id Producto</th>
                        <th>Imagen</th>
                        <th>Nombre</th>
                        <th>Descripcion</th>
                        <th >Categoria</th>
                        <th>Precio</th>
                        <th>Cantidad</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                @foreach (Productos a in Model.Lista)
                {
                    <tr>

                        <td>@a.id_productos</td>
                        <td><img src="~/imagenes/@a.Imagen" style="width:150px; height:100px;" /></td>
                        <td>@a.nombre</td>
                        <td>@a.descripcion</td>
                        @{
                            switch (a.id_categoria)
                            {
                                case 1:
                                    <td>Accesorios</td>
 break;
                                case 2:
                                    <td>Camisas</td>
 break;
                                case 3:
                                    <td>Zapatos</td>
break;
                            } }
                        <td>@a.precio</td>
                        <td>@a.cantidad</td>
                        <td>
                            <a href="/Producto/Producto/Editar/?id=@a.id_productos" class="btn btn-primary mb-2 mt-2">Editar</a>
                            @{
                                if (a.estado == 0)
                                {<a href="/Producto/Producto/Estado/?id=@a.id_productos&estado=@a.estado" class="btn btn-success">Activar</a> }
                                else
                                {<a href="/Producto/Producto/Estado/?id=@a.id_productos&estado=@a.estado" class="btn btn-danger">Inactivar</a> }

                            }
                            
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
        <!-- /.card-body -->
        <div class="card-footer clearfix">
            <!-- <ul class="pagination pagination-sm m-0 float-right">
         <li class="page-item"><a class="page-link" href="#">&laquo;</a></li>
         <li class="page-item"><a class="page-link" href="#">1</a></li>
         <li class="page-item"><a class="page-link" href="#">2</a></li>
         <li class="page-item"><a class="page-link" href="#">3</a></li>
         <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
     </ul>-->
            @Html.Raw(Model.Pagi_info)
            @Html.Raw(Model.Pagi_navegacion)
        </div>
    </div>
    <!-- /.card -->

   
    <!-- /.card -->
</div>
